@font-face {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
}

.title-ctn {
  text-align: center;
  padding-bottom: 30px;
}

.title-ctn h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #222222;
  line-height: 1.2em !important;
  font-weight: 600;
}

.title-ctn p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}
